<!DOCTYPE html>
<html lang="pt br">

<head>
   <!-- Open Graph Data -->
   <meta property="og:title" content="Efiz || Contabilidade e Consultoria Financeira" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://www.efiz.com.br/" />
   <meta property="og:image"
       content="https://scontent.fssa9-1.fna.fbcdn.net/v/t1.0-9/96579222_118564583178130_3012280793427869696_o.jpg?_nc_cat=102&_nc_sid=6e5ad9&_nc_ohc=-PhPUy_80GYAX_d4F9s&_nc_ht=scontent.fssa9-1.fna&oh=b39da6696e03e2ab9f944cb408918add&oe=5EE570DD" />
   <meta property="og:description"
       content="A Efiz é uma empresa contábil e financeira que através de soluções tecnológicas e profissionais capacitados, ajuda o empresário com informações e orientações fundamentais para a tomada decisão e sucesso do seu negócio" />
   <meta name="google-site-verification: google6a456dfaddff7f5f.html">
   <meta property="og:site_name" content="Efiz" />
   <meta name="application-name" content="EFIZ" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap">

   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>EFIZ || Contabilidade e Consultoria Financeira</title>
 
  <meta name="description"
        content="A Efiz é uma empresa contábil e financeira que através de soluções tecnológicas e profissionais capacitados, ajuda o empresário com informações e orientações fundamentais para a tomada dedecisão e sucesso do seu negócio.  " />
    <link rel="canonical" href="https://www.efiz.com.br/" />
    <meta name="author" content="Wesley Guerra" />
    <meta name="keywords"
        content="Efiz,contabilidade, escritório de contabilidade, contabilidade em salvador, escritório de contabilidade em salvador, contabilidade completa, contabilidade digital, escritório contábil, contabilidade para MEI, contabilidade para pequenos negócios, irpf 2020, irpf, abra sua empresa, abrir empresa, abrir empresa em salvador">
    <meta name="robots" content="index,follow" />

  <!-- Favicons -->
  <link href="#" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">


     <!-- Global site tag (gtag.js) - Google Analytics -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166788934-1"></script>

     <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() { dataLayer.push(arguments); }
         gtag('js', new Date());
 
         gtag('config', 'UA-166788934-1');
     </script>

</head>

<body id="page-top">

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container-fluid">

      <div class="row justify-content-center">
        <div class="col-xl-9 d-flex align-items-center justify-content-between">
          <!-- <h1 class="logo"><a href="index.html">
            <img src="/assets/img/logo.png" width="200" height="90" alt="">
          </a></h1> -->
          <!-- Uncomment below if you prefer to use an image logo -->
          <a href="#page-top" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

          <nav class="nav-menu d-none d-lg-block">
            <ul>
              <li class="active"><a href="#page-top">Home</a></li>
              <li><a href="#services">Nossos segmentos</a></li>
              <li><a href="#cta">Abertura de empresas</a></li>
              <li><a href="#contact">Contato</a></li>
            
            </ul>
          </nav><!-- .nav-menu -->

          <a href="#about" class="get-started-btn scrollto" title="informações em breve!" desabled >BLOG</a>
        </div>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>Contabilidade e Consultoria Financeira</h1>
          <h2>Auxiliamos na tomada de decisões para o crescimento do seu negócio com eficiência e eficácia.</h2>
          <a href="https://www.youtube.com/embed/y4ziQIi5j10" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

   

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Conheça os nossos segmentos</h2>
          <p>Mais Vantagens da Contabilidade</p>
        </div>

        <div class="row">
          <div class=" col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"> <span class="material-icons">
                build
                </span> </div>
              <h4><a href="">Empresas de Serviços</a></h4>
              <p>Somos Profissionais especializados na sua atividade, auxiliamos
                você com todos os processos burocráticos e na tomada de decisões adequadas para o
                crescimento do seu negócio. Além de fazer planejamentos visando sempre a redução de
                impostos de acordo com seu faturamento.</p>
            </div>
          </div>

          <div class=" col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><span class="material-icons">
                local_hospital
                </span></div>
              <h4><a href="">Profissionais da Saúde</a></h4>
              <p>Estamos prontos para orientá-los sobre o melhor perfil
                jurídico para o seu caso, organizamos todos os processos burocráticos
                e fazemos toda perte tributária evitando problemas com o fisco.</p>
            </div>
          </div>

          <div class=" col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Gestão Financeira</a></h4>
              <p>Ter saúde financeira é essencial para manter e crescer a sua empresa de forma eficiente e
                sustentável. Nós estamos aqui para ajudar nos processos financeiros do seu negócio,
                proporcionamos uma visão geral financeira através do fluxo de caixa, as possibilidades
                de
                redução de custos e a necessidade de capital de giro, elaboramos o seu planejamento
                financeiro. </p>
            </div>
          </div>

          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Terceirização do Financeiro</a></h4>
              <p>Para que possa alavancar os seus resultados otimizar o seu tempo para focar no cliente,
                temos
                o serviço de terceirização do financeiro, onde executamos a parte financeira do seu
                negócio,
                como as contas a pagar e a receber, proporcionando redução de custo, eficiência e
                segurança.</p>
            </div>
          </div>

         

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Abertura de empresas</h3>
            <p> Te auxiliamos na escolha jurídica do seu negócio e cuidamos de toda parte burocrática para
              que
              você possa ter tempo para seus clientes.
              Potencialize o seu aprendizado, destaque-se e ganhe as melhores oportunidades no mercado.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="https://www.facebook.com/EFIZ-Consultoria-107771114257477" target="_blank">Acessar
              Comunidade</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="icon-box mt-5 mt-lg-0">
            
              <h4>Reduzimos seus custos:</h4>
              <p>Reduzimos seus custos operacionais. Não é necessário contratar e treinar um funcionário para auxiliar na administração da sua empresa. Reduzimos custos com contratação, treinamento, espaço físico e equipamentos, sem riscos trabalhistas.</p>
            </div>
            <div class="icon-box mt-5">
            
              <h4>Ganhe Tempo:</h4>
              <p>Executamos e gerimos as atividades administrativas e financeiras da sua empresa – e você tem tempo para pensar e crescer seu negócio, prospectando clientes, desenvolvendo projetos e aumentando a produtividade da sua equipe.</p>
            </div>
            <div class="icon-box mt-5">
             
              <h4>Geração de Relatórios:</h4>
              <p>Produzimos relatórios gerenciais de Fluxo de Caixa, Vendas, Resultados e Inadimplência, auxiliando na administração e tomada de decisões da sua empresa. Todo o dia-a-dia financeiro e administrativo é registrado em sistema nas nuvens. </p>
            </div>
            <div class="icon-box mt-5">
            
              <h4>Gerencie seu dinheiro:</h4>
              <p>Controlamos diariamente as entradas e saídas na sua conta bancária e lhe informamos, tudo através de Internet Banking.</p>
            </div>
          </div>
          <div class="image col-lg-6 order-1 order-lg-2" style='background-image: url("assets/img/features.jpg");'></div>
        </div>

      </div>
    </section><!-- End Features Section -->

  

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">
        <div class="text-center title">
          <h3>Videos 100% online para você dar o próximo passo na sua evolução. E o melhor, de graça!</h3>
          <a href="https://www.youtube.com/channel/UCMawYvzyZywhIwUnH7d4E_g" target="_blank" style="color: #fff; font-size: 20px;"><p>Acessar Canal do Youtube</p></a>
        </div>
       
        <div class="row counters">

          <div class=" col-md-4 text-center">
            <span data-toggle="counter-up">232</span>
            <p>Clientes</p>
          </div>

          <div class=" col-md-4 text-center">
            <span data-toggle="counter-up">521</span>
            <p>Serviços</p>
          </div>

          <div class=" col-md-4 text-center">
            <span data-toggle="counter-up">1,463</span>
            <p>Suportes</p>
          </div>

        

        </div>

      </div>
    </section><!-- End Counts Section -->

   


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <!-- <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location:</h4>
                <p>A108 Adam Street, New York, NY 535022</p>
              </div> -->

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>contato@efiz.com.br</p>
                
              </div>
              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>suporte@efiz.com.br</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Cel:</h4>
                <p>(71) 99376-8339</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="/index" method="post" role="form" class="php-email-form " id="form-post">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Digite pelo menos 4 caracteres" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="
                  por favor digite um email válido" />
                  <div class="validate"></div>
                </div>
              </div>
              <!-- <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Titulo" data-rule="minlen:4" data-msg="
                Digite pelo menos 8 caracteres do assunto" />
                <div class="validate"></div>
              </div> -->
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Por favor escreva algo para nós" placeholder="Mensagem"></textarea>
                <div class="validate"></div>
              </div>
              <!-- <div class="mb-3">
                <div class="loading">
                  Carregando</div>
                <div class="error-message"></div>
                <div class="sent-message">
                 </div>
              </div> -->
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>EFIZ</h3>
      <p>A Efiz é uma empresa contábil e financeira que através de soluções tecnológicas e
        profissionais
        capacitados, ajuda o empresário com informações e orientações fundamentais para a tomada de
        decisão e sucesso do seu negócio.</p>
      <div class="social-links">
     
        <a href="https://www.facebook.com/EFIZ-Consultoria-107771114257477/?modal=admin_todo_tour" target="_blank"  class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/efizconsultoria/?igshid=2zdynj9nguz1" target="_blank"  class="instagram"><i class="bx bxl-instagram"></i></a>
        <!-- <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
      </div>
      <div class="copyright">
        &copy; 2020  Copyright <strong><span>Efiz</span></strong>. Todos os direitos reservados
        Direitos autorais
        Termos de uso
        Política de privacidade.
      </div>
      {# <div class="credits">
        Designed by <a href="">Wesley Guerra</a>
      </div> #}
    </div>
  </footer><!-- End Footer -->

  <div class="icon-zap">
    <a href="https://api.whatsapp.com/send?phone=5571993768339&text=Ol%C3%A1%20meu%20nome%20%C3%A9"
        target="_blank"><img src="/assets/img/zap.ico" alt="zap"></a>
</div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

  <script>

        const formDelete = document.querySelector("#form-post")
        formDelete.addEventListener("submit", function (event) {
             const confirmation  = confirm("tem certeza que preencheu todos os dados?")
             if(!confirmation){
                event.preventDefault()
                }
        })
    </script>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>